/target
/output
/old
.vscode
*.csv
*.txt
.ipynb_checkpoints/大学入試実験記録01-checkpoint.ipynb
大学入試実験記録01.ipynb
.ipynb_checkpoints/out-checkpoint.txt
memo.md
config04.toml
his＊.json
config05.toml
histS01_2.json
